- hosts: localhost
  connection: local
    tasks:
    - name: Print Tag
      ansible.builtin.debug:
        msg: "Tag is set"
      tags:
        - test
    - name: Print No Tag
      ansible.builtin.debug:
        msg: "Tag is not set"
